* {
    box-sizing: border-box;
}

body {
    background: white;
    color: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}